global
    tune.bufsize 32768
    log stdout format raw local0

defaults
    mode http
    log global
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option http-server-close
    option forwardfor
    retries 1

frontend fe
    bind *:8080
    default_backend be

backend be
    balance roundrobin
    option httpchk GET /
    http-check expect status 200-399
    server s1 127.0.0.1:8081 check inter 2s fall 3 rise 2
    server s2 127.0.0.1:8082 check inter 2s fall 3 rise 2
    server s3 127.0.0.1:8083 check inter 2s fall 3 rise 2
